/*myreset----*/
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6,
div, p, section, article, aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #584b4f;
  font-family: Arial, arial, "Helvetica Neue", Helvetica, freesans, clean, sans-serif;
  font-size: 16px;
  line-height: 1;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

ul.stuffed {
  font-size: 0;
}

ul.stuffed li {
  font-size: 1rem;
}

/*----myreset*/

/*common----------*/
html, body {
  --cyan: #58acde;
  --magenta: #de4abd;
  --yellow: #f0c93e;
  --filter: #c3c3c3;
  --garment-bg-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

br.lg-br {
  display: none;
}

br.mobile {
  display: inline;
}

@media screen and (min-width: 600px) {
  br.lg-br {
    display: inline;
  }
  br.mobile {
    display: none;
  }
}

img.reposition-center {
  position: relative;
  top: 0;
  left: 7px;
}

.common-title {
  font-size: 130%;
  font-weight: bold;
  padding: 2.2em 0;
  margin: 0 5px;
  background: #f2f2f2;
  color: #222;
  -webkit-box-shadow: 0 0 0 5px #f2f2f2;
  box-shadow: 0 0 0 5px #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px dashed #ccc;
}

/* animation */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes hmm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-transform: translateX(-0.1em);
    transform: translateX(-0.1em);
  }
  4% {
    -webkit-transform: translateX(0.4em);
    transform: translateX(0.4em);
  }
  6% {
    -webkit-transform: translateX(-0.4em);
    transform: translateX(-0.4em);
  }
  8% {
    -webkit-transform: translateX(0.2em);
    transform: translateX(0.2em);
  }
  10% {
    -webkit-transform: translateX(-0.2em);
    transform: translateX(-0.2em);
  }
  12% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hmm {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  2% {
    -webkit-transform: translateX(-0.1em);
    transform: translateX(-0.1em);
  }
  4% {
    -webkit-transform: translateX(0.4em);
    transform: translateX(0.4em);
  }
  6% {
    -webkit-transform: translateX(-0.4em);
    transform: translateX(-0.4em);
  }
  8% {
    -webkit-transform: translateX(0.2em);
    transform: translateX(0.2em);
  }
  10% {
    -webkit-transform: translateX(-0.2em);
    transform: translateX(-0.2em);
  }
  12% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hmm {
  -webkit-animation: hmm 5s ease infinite;
  animation: hmm 5s ease infinite;
}

/*----------common*/


.Button {
  display: inline-block;
  min-width: 6em;
  text-align: center;
  padding: 0.8em;
  background: #eee;
  color: #444;
  border: 1px solid;
  border-radius: 0.2em;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.Button:hover {
  background: dimgrey;
  color: white;
}

.Designer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 70vw auto;
  min-height: 100vh;
  background: #fff;
  color: dimgrey;
  line-height: 2;
}

.Designer .title {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  background: #111;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.2;
  font-size: 130%;
}

.Designer .title .en {
  font-size: 18px;
}

.Designer .image {
  grid-column: 1;
  grid-row: 2;
  background: #989898;
  background-image: url("/image/takeru.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Designer .description {
  grid-column: 1;
  grid-row: 3;
  background: #fff;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.6;
  font-size: 90%;
}

.Designer .description p {
  padding: 0.6em 0;
}

.Designer .easter-egg {
  display: none;
}

@media screen and (min-width: 800px) {
  .Designer {
    grid-template-columns: 300px 1fr 4fr 2fr;
    grid-template-rows: 200px 300px 1fr auto;
    min-height: 100vh;
  }
  .Designer .title {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .Designer .image {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .Designer .description {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    padding: 2em;
    line-height: 2;
    background: linear-gradient(135deg, #000, #444);
    color: #999;
  }
}

@media screen and (min-width: 1300px) {
  .Designer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 260px 35vw 35vw;
  }
  .Designer .title {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .Designer .image {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .Designer .description {
    grid-column: 2 / 4;
    grid-row: 3;
    padding: 1em;
  }
  .Designer .easter-egg {
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
  }
}

.Discover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 1em 0;
  background: black;
  color: white;
  z-index: 10000;
}

.Discover h1 {
  opacity: 0.8;
  width: 90%;
  border-bottom: 1px solid;
  margin: 2em auto 0.2em;
}

.Door {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 95vh;
  margin: 0;
  padding: 0;
  background: lightgrey;
  color: white;
  font-size: 200%;
  cursor: pointer;
  overflow: hidden;
}

.Door, .Door * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Door > .left, .Door > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: .3em;
  -webkit-transition: .8s;
  transition: .8s;
  z-index: 1;
}

.Door > .left {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #fa5;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.Door > .right {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: coral;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.Door > .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10em;
  height: 1em;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
  opacity: 0;
}

.Door.open > .left {
  background: gold;
  -webkit-transform: rotateY(-90deg) scaleY(2);
  transform: rotateY(-90deg) scaleY(2);
}

.Door.open > .right {
  background: gold;
  -webkit-transform: rotateY(90deg) scaleY(2);
  transform: rotateY(90deg) scaleY(2);
}

.Door.open > .inner {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.EdgeLine {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.EdgeLine g .dash {
  stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4;
}

.EdgeLine g.top {
  top: 0;
  left: 0;
}

.EdgeLine g.top .line {
  stroke: #d152c3;
}

.EdgeLine g.top .dash {
  stroke: #fbc;
}

.EdgeLine g.left {
  top: 0;
  left: 0;
}

.EdgeLine g.left .line {
  stroke: #5a84d6;
}

.EdgeLine g.left .dash {
  stroke: #a5c5f6;
}

.EdgeLine g.right {
  top: 0;
  right: 0;
}

.EdgeLine g.right .line {
  stroke: #fb3;
}

.EdgeLine g.right .dash {
  stroke: #fdc;
}

.EdgeLine g.bottom {
  left: 0;
  bottom: 0;
}

.EdgeLine g.bottom .line {
  stroke: #fff;
}

.EdgeLine g.bottom .dash {
  stroke: #bbb;
}

.Entrance {
  color: #333;
  --bar-height: 30px;
}

.Entrance .header, .Entrance .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #444;
  color: #888;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.Entrance .header {
  height: var(--bar-height);
  -webkit-box-shadow: -1px 0 4px 0px #333 inset;
  box-shadow: -1px 0 4px 0px #333 inset;
  letter-spacing: 1.2px;
}

.Entrance .footer {
  position: relative;
  height: calc(600px - 10vw);
  min-height: calc(100vh - var(--bar-height));
  -webkit-box-shadow: 1px 0 4px 0px #333 inset;
  box-shadow: 1px 0 4px 0px #333 inset;
}

.Entrance .footer .copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2em;
}

.Entrance .main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--bar-height) * 2);
  background: #eee;
  -webkit-box-shadow: 0 0 13px 0 #fff inset;
  box-shadow: 0 0 13px 0 #fff inset;
  overflow: hidden;
  position: relative;
}

.Entrance .main > * {
  -webkit-animation: loaded-open 0.8s ease 0.1s both;
  animation: loaded-open 0.8s ease 0.1s both;
}

@-webkit-keyframes loaded-open {
  from {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loaded-open {
  from {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.Entrance .main .logo {
  display: block;
  position: relative;
  min-width: 200px;
  max-width: 80vw;
  height: 150px;
  max-height: 50vw;
  background-image: url("/image/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.Entrance .main svg.dash-top, .Entrance .main svg.dash-bottom {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  right: 0;
  stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4;
}

.Entrance .main svg.dash-top {
  top: 0;
  -webkit-animation: sew 3s ease both;
  animation: sew 3s ease both;
}

@-webkit-keyframes sew {
  from {
    stroke-dashoffset: 60px;
  }
  to {
    stroke-dashoffset: 3px;
  }
}

@keyframes sew {
  from {
    stroke-dashoffset: 60px;
  }
  to {
    stroke-dashoffset: 3px;
  }
}

.Entrance .main svg.dash-bottom {
  bottom: 0;
  -webkit-animation: sew-reverse 3s ease both;
  animation: sew-reverse 3s ease both;
}

@-webkit-keyframes sew-reverse {
  from {
    stroke-dashoffset: -60px;
  }
  to {
    stroke-dashoffset: 5px;
  }
}

@keyframes sew-reverse {
  from {
    stroke-dashoffset: -60px;
  }
  to {
    stroke-dashoffset: 5px;
  }
}

.Footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
  background: #444;
  color: #888;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 0 3px 3px 0px #333 inset;
  box-shadow: 0 3px 3px 0px #333 inset;
}

.Footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Footer .links > * {
  margin: 0 -11px;
}

.Footer .links svg {
  overflow-x: visible;
}

.Footer .end-credit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2em;
  line-height: 1.3;
  font-size: 9px;
}

.FooterNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url("/image/street.png"), -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
  background-image: url("/image/street.png"), linear-gradient(#ccc, #ccc);
  background-position: 90% 20%;
  background-size: cover;
  background-blend-mode: screen;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 0 20px 0 white inset;
  box-shadow: 0 0 20px 0 white inset;
}

.Form {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 0.2em;
  margin: 0 auto;
  padding: 1em;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Form input:nth-child(1) {
  -webkit-animation: fade-in 2s ease 0.15s infinite alternate;
  animation: fade-in 2s ease 0.15s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(2) {
  -webkit-animation: fade-in 2s ease 0.3s infinite alternate;
  animation: fade-in 2s ease 0.3s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(3) {
  -webkit-animation: fade-in 2s ease 0.45s infinite alternate;
  animation: fade-in 2s ease 0.45s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(4) {
  -webkit-animation: fade-in 2s ease 0.6s infinite alternate;
  animation: fade-in 2s ease 0.6s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(5) {
  -webkit-animation: fade-in 2s ease 0.75s infinite alternate;
  animation: fade-in 2s ease 0.75s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(6) {
  -webkit-animation: fade-in 2s ease 0.9s infinite alternate;
  animation: fade-in 2s ease 0.9s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(7) {
  -webkit-animation: fade-in 2s ease 1.05s infinite alternate;
  animation: fade-in 2s ease 1.05s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(8) {
  -webkit-animation: fade-in 2s ease 1.2s infinite alternate;
  animation: fade-in 2s ease 1.2s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(9) {
  -webkit-animation: fade-in 2s ease 1.35s infinite alternate;
  animation: fade-in 2s ease 1.35s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input:nth-child(10) {
  -webkit-animation: fade-in 2s ease 1.5s infinite alternate;
  animation: fade-in 2s ease 1.5s infinite alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.Form input {
  width: 6em;
  margin: 0.3em 0.1em;
  border: 1px solid lightgrey;
  border-radius: 0.1em;
}

.Form input[type="submit"] {
  background: white;
  border: 1px solid #adf;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.Form input[type="submit"]:hover {
  background: grey;
  border: 1px solid white;
  color: white;
  -webkit-animation: prr ease;
  animation: prr ease;
}

.Garment .RouteTransitionContainer {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.Garment .blur-container > * {
  -webkit-transition: 0.9s ease-out;
  transition: 0.9s ease-out;
}

.Garment .blur-container.on > * {
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.Garment .page-title {
  padding: 1.75em 1.18em 1.5em;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e6e6e6;
}

.Garment .nav-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 1.3em 1.1em;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #222;
}

.Garment .nav-btn.hide {
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
  opacity: 0;
  pointer-events: none;
}

.GarmentNav {
  color: #444;
}

.GarmentNav .bg {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999)), url("/image/street.png");
  background-image: linear-gradient(180deg, #bbb, #999), url("/image/street.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.GarmentNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.GarmentNav ul li {
  pointer-events: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: 50% 68%;
  transform-origin: 50% 68%;
  cursor: pointer;
}

.GarmentNav ul li.margin {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.GarmentNav ul li.margin:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 16vh;
  flex: 1 0 16vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
  text-align: center;
  font-size: 28px;
}

.GarmentNav.hide .bg {
  opacity: 0;
}

.GarmentNav.hide ul {
  opacity: 0;
}

.GarmentNav.hide ul li {
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

@media screen and (min-width: 640px) {
  .GarmentNav {
    top: 10px;
  }
  .GarmentNav ul {
    padding: 0;
  }
  .GarmentNav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px auto auto 220px;
  grid-gap: 2px;
  background: #ccc;
}

.Grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
}

.Grid .header {
  grid-column: 1;
  grid-row: 1;
}

.Grid .main {
  grid-column: 1;
  grid-row: 3;
}

.Grid .main p {
  padding: 1em;
  line-height: 1.6;
}

.Grid .side {
  grid-column: 1;
  grid-row: 2;
}

.Grid .footer {
  grid-row: 1;
  grid-row: 4;
}

@media screen and (min-width: 500px) {
  .Grid {
    grid-template-columns: 250px 1fr 10fr;
    grid-template-rows: 300px auto 200px;
  }
  .Grid > div {
    overflow: hidden;
  }
  .Grid .header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .Grid .main {
    grid-column: 3 / 4;
    grid-row: 2;
  }
  .Grid .side {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .Grid .foot {
    grid-column: 1 / 4;
    grid-row: 3;
  }
}

.News {
  line-height: 1.6;
  text-align: center;
}

.News .sub-title {
  font-size: 105%;
  font-weight: bold;
  padding: 2em 0 1.6em;
}

.News .text {
  font-size: 92%;
  padding: 0 0.6em 2em;
}

.NotFound {
  padding: 2rem;
  text-align: center;
}

.NotFound .message {
  padding: 2rem;
  font-size: 26px;
  color: #a67;
}

.Home {
  background: var(--garment-bg-color);
}

.Home .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.Home .article img.street-image {
  width: 100%;
}

.Home .article img.logo {
  display: block;
  width: 70vw;
  max-width: 240px;
  margin: 0 auto;
}

.Home .article .text {
  font-size: 90%;
  opacity: 0.7;
  text-align: center;
  line-height: 1.7;
}

.Home .article .text p {
  padding: 0.5em 0.6em;
}

.Story .article {
  text-align: center;
  color: #111;
}

.Story .article img.ff01 {
  margin: 5% auto 0.5em;
}

.Story .article .text {
  text-align: left;
  line-height: 1.7;
  font-size: 90%;
  padding: 0.8em 2em 1.8em;
}

.Story .article .text br {
  display: none;
}

.Story .article .text p {
  padding: 0.6em 0;
}

.Story .article img {
  width: 90%;
}

.Product {
  display: block;
  width: 100%;
  overflow-x: hidden;
  --selected-item-bg-color: #f2f2f2;
  --nav-bg-color: #333;
  --nav-text-color: #bbb;
}

.Product img.distribution-map {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Product .product-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
  z-index: 10;
  opacity: 0.9;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.Product .product-nav .product-nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  line-height: 2.8;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
}

.Product .product-nav .product-nav-title > * {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
}

.Product .product-nav .product-nav-title > *:not(.selected) {
  background: var(--selected-item-bg-color);
  color: #999;
}

.Product .product-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 72%;
  padding: 20px 0 26px;
}

.Product .product-nav ul.base li:nth-last-child(1) {
  -webkit-animation: slide-in-left 0.2s ease both;
  animation: slide-in-left 0.2s ease both;
}

.Product .product-nav ul.base li:nth-last-child(2) {
  -webkit-animation: slide-in-left 0.3s ease both;
  animation: slide-in-left 0.3s ease both;
}

.Product .product-nav ul.base li:nth-last-child(3) {
  -webkit-animation: slide-in-left 0.55s ease both;
  animation: slide-in-left 0.55s ease both;
}

.Product .product-nav ul.base li:nth-last-child(4) {
  -webkit-animation: slide-in-left 0.9s ease both;
  animation: slide-in-left 0.9s ease both;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.Product .product-nav ul.filter li:nth-child(1) {
  -webkit-animation: slide-in-right 0.2s ease both;
  animation: slide-in-right 0.2s ease both;
}

.Product .product-nav ul.filter li:nth-child(2) {
  -webkit-animation: slide-in-right 0.3s ease both;
  animation: slide-in-right 0.3s ease both;
}

.Product .product-nav ul.filter li:nth-child(3) {
  -webkit-animation: slide-in-right 0.55s ease both;
  animation: slide-in-right 0.55s ease both;
}

.Product .product-nav ul.filter li:nth-child(4) {
  -webkit-animation: slide-in-right 0.9s ease both;
  animation: slide-in-right 0.9s ease both;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.Product .product-nav ul li {
  position: relative;
}

.Product .product-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
}

.Product .product-nav ul li a > .text {
  padding: 3px 0 0 0;
  font-size: 11px;
  pointer-events: none;
}

.Product .product-nav.hide {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
}

.Product .selected-item-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 240px);
  background: var(--selected-item-bg-color);
  text-align: center;
  padding: 0 1em 3em;
}

.Product .selected-item-container .fragrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.3;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 0;
  font-size: 90%;
}

.Product .selected-item-container .fragrance.loaded {
  -webkit-animation: fade-in 1.2s ease both;
  animation: fade-in 1.2s ease both;
}

@keyframes fade-in {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.Product .selected-item-container .fragrance img {
  max-width: 90%;
  padding: 20px;
}

.Product .selected-item-container .fragrance .text {
  padding: 1em 0 0.6em;
}

.Product .selected-item-container .fragrance .text.description {
  padding: 2em 0 1.2em;
}

.Product .selected-item-container .fragrance .text.description strong {
  font-size: 105%;
}

.Product .selected-item-container .fragrance .product-name {
  font-size: 105%;
  padding-bottom: 0.7em;
}


.PoyoyoBox .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3px auto;
  color: dimgrey;
  border-radius: 3px;
}

.SpreadCircle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.SpreadCircle .putLightly, .SpreadCircle .spread {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.SpreadCircle .putLightly {
  background: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.SpreadCircle .putLightly.on {
  border: none;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 2;
}

.SpreadCircle.mobile .putLightly.on {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.SpreadCircle .spread {
  background: inherit;
  pointer-events: none;
}

.SpreadCircle .spread.on {
  opacity: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.SvgButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.SvgButton .shape {
  fill: transparent;
}

@media screen and (min-width: 500px) {
  .SvgButton .text {
    overflow: hidden;
  }
}

.SvgButton .shape, .SvgButton .text {
  -webkit-transition: 0.24s ease;
  transition: 0.24s ease;
}

.Triangle {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: bounce 2s ease both infinite;
  animation: bounce 2s ease both infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.6) rotate(0deg);
    transform: scale(0.6) rotate(0deg);
  }
  20% {
    -webkit-transform: scale(1.1) rotate(-6deg);
    transform: scale(1.1) rotate(-6deg);
  }
  90% {
    -webkit-transform: scale(1) rotate(4deg);
    transform: scale(1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(0.6) rotate(0deg);
    transform: scale(0.6) rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0.6) rotate(0deg);
    transform: scale(0.6) rotate(0deg);
  }
  20% {
    -webkit-transform: scale(1.1) rotate(-6deg);
    transform: scale(1.1) rotate(-6deg);
  }
  90% {
    -webkit-transform: scale(1) rotate(4deg);
    transform: scale(1) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(0.6) rotate(0deg);
    transform: scale(0.6) rotate(0deg);
  }
}
