/*common----------*/
html, body
    // background: #fafafa
    background: #444
    color: #555
a
    text-decoration: none
    color: inherit
br.lg-br
    display: none
@media screen and (min-width: 600px)
    br.lg-br
        display: inline

/* animation */
@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)
.spin
    animation: spin 4s linear infinite

@keyframes hmm
    0%
        transform: translateX(0)
    2%
        transform: translateX(-0.1em)
    4%
        transform: translateX(0.4em)
    6%
        transform: translateX(-0.4em)
    8%
        transform: translateX(0.2em)
    10%
        transform: translateX(-0.2em)
    12%
        transform: translateX(0)
    100%
        transform: translateX(0)
.hmm
    animation: hmm 5s ease infinite
/*----------common*/
