/*myreset----*/
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6,
div, p, section, article, aside {
  display: block;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: bold;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

h3 {
  font-size: 120%;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #584b4f;
  font-family: Arial, arial, "Helvetica Neue", Helvetica, freesans, clean, sans-serif;
  font-size: 16px;
  line-height: 1;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

ul.stuffed {
  font-size: 0;
}

ul.stuffed li {
  font-size: 1rem;
}

/*----myreset*/

/*common----------*/
html {
  --garment-nav-width: 0;
}

@media screen and (min-width: 1280px) {
  html {
    --garment-nav-width: 300px;
  }
}

@media screen and (min-width: 1900px) {
  html {
    --garment-nav-width: 500px;
  }
}

.Entrance {
  --garment-nav-width: 0;
}

html, body {
  --cyan: #58acde;
  --magenta: #de4abd;
  --yellow: #f0c93e;
  --filter: #c3c3c3;
  --garment-bg-color: #fafafa;
  font-size: 16px;
}

@media screen and (min-width: 770px) {
  html, body {
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  html, body {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

br.lg-br {
  display: none;
}

br.mobile {
  display: inline;
}

@media screen and (min-width: 770px) {
  br.lg-br {
    display: inline;
  }
  br.mobile {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .flex-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    padding: 3%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .flex-2 > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
    margin: 1% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

img.reposition-center {
  position: relative;
  top: 0;
  left: 7px;
}

h1.common-title, section.common-style .title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 10px);
  padding: 2.2em 0;
  margin: 5px;
  margin-bottom: 10px;
  background: #efefef;
  color: #222;
  font-size: 130%;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 5px #efefef;
  box-shadow: 0 0 0 5px #efefef;
  border: 1px dashed #ccc;
  text-align: center;
}

section.common-style .text {
  line-height: 1.7;
  font-size: 90%;
  padding: 1.2em 1.2em 1.9em;
}

section.common-style .text p {
  padding: 0.6em 0;
}

section.common-style img {
  width: 90%;
}

@media screen and (min-width: 770px) {
  section.common-style .text {
    text-align: center;
  }
  section.common-style img {
    max-width: 48%;
    height: auto;
  }
}

@-webkit-keyframes page-fade-in {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes page-fade-in {
  from {
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
