
.Designer {
  color: #666;
}

.Designer .title {
  line-height: 1.4;
}

.Designer img.takeru {
  margin-top: 0.9rem;
}

.EdgeLine {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.EdgeLine.color-0 .line {
  stroke: #d152c3;
}

.EdgeLine.color-0 .dash {
  stroke: #fbc;
}

.EdgeLine.color-1 .line {
  stroke: #5a84d6;
}

.EdgeLine.color-1 .dash {
  stroke: #a5c5f6;
}

.EdgeLine.color-2 .line {
  stroke: #fb3;
}

.EdgeLine.color-2 .dash {
  stroke: #fdc;
}

.EdgeLine g line {
  -webkit-transition: stroke 1s ease;
  transition: stroke 1s ease;
}

.EdgeLine g .dash {
  stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4;
}

.EdgeLine g.top {
  top: 0;
  left: 0;
}

.EdgeLine g.left {
  top: 0;
  left: 0;
}

.EdgeLine g.right {
  top: 0;
  right: 0;
}

.EdgeLine g.bottom {
  left: 0;
  bottom: 0;
}

.Entrance {
  color: #333;
  --bar-height: 30px;
}

.Entrance .header, .Entrance .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #444;
  color: #888;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.Entrance .header {
  height: var(--bar-height);
  -webkit-box-shadow: -1px 0 4px 0px #111 inset;
  box-shadow: -1px 0 4px 0px #111 inset;
  letter-spacing: 1.2px;
}

.Entrance .footer {
  position: relative;
  height: calc(600px - 10vw);
  min-height: calc(100vh - var(--bar-height));
  -webkit-box-shadow: 1px 0 4px 0px #111 inset;
  box-shadow: 1px 0 4px 0px #111 inset;
}

.Entrance .footer .copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2em;
}

.Entrance .main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--bar-height) * 2);
  background: #fff;
  -webkit-box-shadow: 0 0 13px 0 #eee inset;
  box-shadow: 0 0 13px 0 #eee inset;
  overflow: hidden;
  position: relative;
}

.Entrance .main > * {
  -webkit-animation: loaded-open 0.8s ease 0.1s both;
  animation: loaded-open 0.8s ease 0.1s both;
}

@-webkit-keyframes loaded-open {
  from {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loaded-open {
  from {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.Entrance .main .logo {
  display: block;
  position: relative;
  min-width: 200px;
  max-width: 80vw;
  height: 150px;
  max-height: 50vw;
  background-image: url("/image/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.Entrance .main svg.dash-top, .Entrance .main svg.dash-bottom {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  right: 0;
  stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4;
}

.Entrance .main svg.dash-top {
  top: 0;
  -webkit-animation: sew 3s ease both;
  animation: sew 3s ease both;
}

@-webkit-keyframes sew {
  from {
    stroke-dashoffset: 60px;
  }
  to {
    stroke-dashoffset: 3px;
  }
}

@keyframes sew {
  from {
    stroke-dashoffset: 60px;
  }
  to {
    stroke-dashoffset: 3px;
  }
}

.Entrance .main svg.dash-bottom {
  bottom: 0;
  -webkit-animation: sew-reverse 3s ease both;
  animation: sew-reverse 3s ease both;
}

@-webkit-keyframes sew-reverse {
  from {
    stroke-dashoffset: -60px;
  }
  to {
    stroke-dashoffset: 5px;
  }
}

@keyframes sew-reverse {
  from {
    stroke-dashoffset: -60px;
  }
  to {
    stroke-dashoffset: 5px;
  }
}

.Footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: #222;
  color: #888;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0px #1d1d1d inset;
  box-shadow: 0 2px 2px 0px #1d1d1d inset;
}

.Footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Footer .links > * {
  margin: 0 -11px;
}

.Footer .links svg {
  overflow-x: visible;
}

.Footer .end-credit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.2em;
  line-height: 1.3;
  font-size: 9px;
}

.FooterNav {
  display: block;
  width: 100%;
}

.FooterNav .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url("/image/street.png"), -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ccc));
  background-image: url("/image/street.png"), linear-gradient(#ccc, #ccc);
  background-position: 90% 20%;
  background-size: cover;
  background-blend-mode: screen;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 0 40px 0 #eee inset;
  box-shadow: 0 0 40px 0 #eee inset;
}

@media screen and (min-width: 770px) {
  .FooterNav .menu-container {
    background-position: 100% 4%;
  }
}

@media screen and (min-width: 1024px) {
  .FooterNav .menu-container {
    display: none;
  }
}

.Garment {
  position: relative;
}

@media screen and (min-width: 1024px) {
  .Garment .page-route-container {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - var(--garment-nav-width));
  }
}

.Garment .page-title {
  padding: 1.75em 1.18em 1.5em;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #e6e6e6;
  color: #222;
  text-align: left;
}

@media screen and (min-width: 770px) {
  .Garment .page-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .Garment .page-title {
    font-size: 40px;
  }
}

.Garment .nav-btn {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 1.3em 1.1em;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #222;
}

.Garment .nav-btn.hide {
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
  opacity: 0;
  pointer-events: none;
}

.GarmentNav {
  color: #444;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.GarmentNav .nav-foot {
  display: none;
}

.GarmentNav .logo {
  display: none;
}

.GarmentNav .bg {
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#999)), url("/image/street.png");
  background-image: linear-gradient(180deg, #bbb, #999), url("/image/street.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  pointer-events: none;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.GarmentNav ul {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.GarmentNav ul li {
  pointer-events: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: 50% 68%;
  transform-origin: 50% 68%;
  cursor: pointer;
}

.GarmentNav ul li.margin {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.GarmentNav ul li.margin:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 16vh;
  flex: 1 0 16vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
  text-align: center;
  font-size: 28px;
}

.GarmentNav.hide {
  pointer-events: none;
}

.GarmentNav.hide .bg {
  opacity: 0;
}

.GarmentNav.hide ul {
  opacity: 0;
}

.GarmentNav.hide ul li {
  -webkit-transform: scale(0);
  transform: scale(0);
}

@media screen and (min-width: 640px) {
  .GarmentNav {
    top: 10px;
  }
  .GarmentNav ul {
    padding: 0;
  }
  .GarmentNav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
}

@media screen and (min-width: 1024px) {
  .GarmentNav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--garment-nav-width);
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #efefef;
    overflow: hidden;
    --nav-item-position: calc(50vh - 124px);
  }
  .GarmentNav .nav-foot {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0;
    color: #999;
    text-align: center;
    font-size: 8px;
    font-weight: lighter;
  }
  .GarmentNav .bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 45% center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), color-stop(#eee), to(#ccc)), url("/image/street.png");
    background-image: linear-gradient(180deg, #ccc, #eee, #ccc), url("/image/street.png");
    -webkit-filter: blur(4px);
    filter: blur(4px);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  .GarmentNav .logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: var(--nav-item-position);
    margin: 0 auto;
    background-image: url("/image/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 92%;
  }
  .GarmentNav ul {
    position: absolute;
    top: var(--nav-item-position);
    left: auto;
    right: 0;
    bottom: auto;
    height: 60vh;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .GarmentNav ul li.margin {
    display: none;
  }
}


.News {
  line-height: 1;
  text-align: center;
  background: #fafafa;
}

.News h1 span.icon {
  position: relative;
  top: -2px;
  left: 0;
}

.News .NewsSection {
  z-index: 1;
  --news-section-height: 250px;
  --color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: var(--news-section-height);
  padding: 3px;
  margin: 6px 4px;
  background-image: repeating-linear-gradient(135deg, transparent, transparent 3px, var(--color) 3px, var(--color) 10px), repeating-linear-gradient(45deg, transparent, transparent 3px, var(--color) 3px, var(--color) 10px);
  background-blend-mode: multiply;
  cursor: default;
  border: 1px solid rgba(42, 208, 198, 0.06);
  border-radius: 4px;
}

.News .NewsSection.focus {
  z-index: 2;
}

@media screen and (min-width: 770px) {
  .News .NewsSection {
    width: 48%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1%;
    padding: 0;
  }
}

.News .NewsSection .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  background: #fcfcfc;
  border-radius: 4px;
}

.News .NewsSection .update-date,
.News .NewsSection .title,
.News .NewsSection .modal {
  z-index: 1;
}

.News .NewsSection .update-date {
  position: absolute;
  top: 4px;
  left: 5px;
  padding: 0.3em 0.8em;
  background: rgba(255, 255, 255, 0.9);
  color: #888;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.News .NewsSection .title {
  font-size: 0.88rem;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 4px;
}

.News .NewsSection .modal {
  margin-top: 4px;
}

.News .NewsSection .modal .bg, .News .NewsSection .modal .content, .News .NewsSection .modal .button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.News .NewsSection .modal .bg {
  display: block;
  position: fixed;
  top: 0;
  left: var(--garment-nav-width);
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.News .NewsSection .modal .content {
  display: block;
  position: fixed;
  top: 10vw;
  left: var(--garment-nav-width);
  right: 0;
  bottom: 10vw;
  width: 80%;
  font-size: 0.9rem;
  margin: auto;
  padding: 5vw;
  background: #fafafa;
  color: #555;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 770px) {
  .News .NewsSection .modal .content {
    top: 10vh;
    bottom: 10vh;
    width: calc(80vw - var(--garment-nav-width) * 0.8);
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) and (max-height: 500px) and (orientation: landscape) {
  .News .NewsSection .modal .content {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.News .NewsSection .modal .content h1 {
  font-size: 110%;
  font-weight: bold;
  padding: 0;
  margin: 0.3em 0;
}

.News .NewsSection .modal .content p {
  margin: 0.6em 0;
}

.News .NewsSection .modal .button {
  display: block;
  position: relative;
  width: 8em;
  padding: 0.5em 0;
  margin: 0 auto;
  background: #2ad0c6;
  color: #fbfbfb;
  border: 1px solid #2ad0c6;
  border-radius: 0.2em;
  line-height: 1;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.News .NewsSection .modal .button:hover {
  background: #fbfbfb;
  color: #2ad0c6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.News .NewsSection .modal .button .icon {
  position: absolute;
  top: 2px;
  left: 6px;
}

.News .NewsSection .modal.close .bg {
  opacity: 0;
  pointer-events: none;
}

.News .NewsSection .modal.close .content {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

.News .NewsSection .modal.close .button {
  opacity: 1;
}

.News .NewsSection .modal.open .bg,
.News .NewsSection .modal.open .content {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  z-index: 9;
}

.News .NewsSection .modal.open .button {
  opacity: 0;
  pointer-events: none;
}

.NotFound {
  padding: 40vh 2em;
  text-align: center;
}

.NotFound .message {
  padding: 2rem;
  font-size: 26px;
  color: #a67;
}

.Home .article,
.Concept .article {
  -webkit-animation: loaded-open 1s ease-out both;
  animation: loaded-open 1s ease-out both;
}

@keyframes loaded-open {
  from {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.Home {
  background: var(--garment-bg-color);
}

.Home .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.Home .article img.street-image {
  width: 100%;
}

.Home .article img.logo {
  display: block;
  width: 70vw;
  max-width: 240px;
  margin: 0 auto;
}

.Home .article .text {
  font-size: 90%;
  opacity: 0.7;
  text-align: center;
  line-height: 1.7;
}

.Home .article .text p {
  padding: 0.5em 0.6em;
}

.Concept .article .concept-top-text {
  padding: 3em 2em;
  margin: 0;
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 770px) {
  .Concept .article .concept-top-text {
    padding: 1em;
    margin: 2.2em 0 0;
  }
}

.Store {
  line-height: 1.6;
}

.Store .article {
  min-height: 90vh;
  text-align: center;
}

.Store .article img {
  max-width: 100%;
}

.Store .article .text {
  min-height: 260px;
  margin: 25px 25px;
  padding: 3em 1em;
  background: fcfcfc;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Contact span.en,
.TermsOfUse span.en,
.PrivacyPolicy span.en {
  opacity: 0.7;
  font-size: 60%;
  line-height: 1;
}

.Contact .article,
.TermsOfUse .article,
.PrivacyPolicy .article {
  padding: 2rem 5vw 3rem;
  color: dimgrey;
  line-height: 1.8;
}

.Contact h1,
.TermsOfUse h1,
.PrivacyPolicy h1 {
  text-align: center;
  font-size: 22px;
  padding: 30px;
}

.Contact h2,
.TermsOfUse h2,
.PrivacyPolicy h2 {
  font-size: 18px;
  padding-top: 10px;
}

.Contact p,
.TermsOfUse p,
.PrivacyPolicy p {
  font-size: 16px;
  padding: 0.3em 0;
}

.Contact .link,
.TermsOfUse .link,
.PrivacyPolicy .link {
  padding: 1rem 0;
}

.Products {
  display: block;
  width: 100%;
  overflow-x: hidden;
  --selected-item-bg-color: #f2f2f2;
  --nav-bg-color: #333;
  --nav-text-color: #bbb;
}

@media screen and (max-width: 769px) {
  .Products .wardrobe img {
    margin-top: 1rem;
  }
}

.Products .wardrobe .product-name-container {
  text-align: center;
}

.Products .wardrobe .product-name {
  font-size: 1.05rem;
  font-weight: bold;
}

.Products .wardrobe .product-list-container {
  text-align: center;
}

.Products .wardrobe .product-list-container h2 {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;
}

.Products .wardrobe .product-list-container ul.base, .Products .wardrobe .product-list-container ul.filter {
  font-size: 86%;
  opacity: 0.8;
  margin: 0 auto 0.6rem;
}

.Products .wardrobe .product-list-container ul.base li, .Products .wardrobe .product-list-container ul.filter li {
  display: inline-block;
  margin: 0.2em 0.5em;
}

.Products .wardrobe .product-list-container ul.base li span, .Products .wardrobe .product-list-container ul.filter li span {
  padding-left: 0.3em;
}

.Products .selected-item-container {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 999;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(var(--selected-item-bg-color)));
  background: linear-gradient(180deg, #fff, var(--selected-item-bg-color));
  text-align: center;
  padding: 0;
  padding-bottom: 3rem;
}

.Products .selected-item-container .fragrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  line-height: 1.3;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 0;
  font-size: 90%;
}

.Products .selected-item-container .fragrance.loaded {
  -webkit-animation: fade-in 1.2s ease both;
  animation: fade-in 1.2s ease both;
}

@-webkit-keyframes fade-in {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.Products .selected-item-container .fragrance img.product-photo {
  margin-top: 20px;
  max-width: 90%;
}

@media screen and (min-width: 770px) {
  .Products .selected-item-container .fragrance img.product-photo {
    padding-top: 30px;
  }
}

.Products .selected-item-container .fragrance .text {
  margin: 0;
  padding: 1em 0 0.6em;
}

.Products .selected-item-container .fragrance .text.description {
  margin: 0;
  padding: 2.7rem 0 1.3rem;
}

.Products .selected-item-container .fragrance .text.description strong {
  font-size: 105%;
}

.Products .selected-item-container .fragrance .product-name {
  font-size: 105%;
}

.Products .product-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100vw - var(--garment-nav-width));
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
  z-index: 10;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .Products .product-nav {
    left: auto;
  }
}

.Products .product-nav .guide {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 290px;
  margin: 0 auto;
  padding: 0.8em 1.4em;
  background: #333;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  -webkit-animation: pop 3s ease 1s both;
  animation: pop 3s ease 1s both;
}

.Products .product-nav .guide .guide-icon {
  font-size: 1.7em;
  -webkit-transform: translate(-8px, -3px);
  transform: translate(-8px, -3px);
}

@-webkit-keyframes pop {
  0% {
    top: 100px;
  }
  8% {
    top: -67px;
  }
  12% {
    top: -59px;
  }
  88% {
    top: -59px;
  }
  92% {
    top: -67px;
  }
  100% {
    top: 100px;
  }
}

@keyframes pop {
  0% {
    top: 100px;
  }
  8% {
    top: -67px;
  }
  12% {
    top: -59px;
  }
  88% {
    top: -59px;
  }
  92% {
    top: -67px;
  }
  100% {
    top: 100px;
  }
}

.Products .product-nav .product-nav-title {
  position: absolute;
  top: 6px;
  left: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  opacity: 0.9;
}

.Products .product-nav .product-nav-title > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2.2;
  width: 16%;
  text-align: center;
  color: var(--selected-item-bg-color);
  border-radius: 0.2em;
  border: 1px solid var(--selected-item-bg-color);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Products .product-nav .product-nav-title > *.selected {
  background: var(--selected-item-bg-color);
  color: #333;
}

@media screen and (min-width: 770px) {
  .Products .product-nav .product-nav-title > * {
    width: calc((100% - 300px) / 2 - 80px);
  }
}

.Products .product-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  padding: 9px 0 26px;
}

@media screen and (max-width: 350px) {
  .Products .product-nav ul {
    width: 65%;
  }
}

@media screen and (min-width: 770px) {
  .Products .product-nav ul {
    max-width: 300px;
  }
}

.Products .product-nav ul.base li:nth-last-child(1) {
  -webkit-animation: slide-in-left 0.2s ease both;
  animation: slide-in-left 0.2s ease both;
}

.Products .product-nav ul.base li:nth-last-child(2) {
  -webkit-animation: slide-in-left 0.3s ease both;
  animation: slide-in-left 0.3s ease both;
}

.Products .product-nav ul.base li:nth-last-child(3) {
  -webkit-animation: slide-in-left 0.55s ease both;
  animation: slide-in-left 0.55s ease both;
}

.Products .product-nav ul.base li:nth-last-child(4) {
  -webkit-animation: slide-in-left 0.9s ease both;
  animation: slide-in-left 0.9s ease both;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.Products .product-nav ul.filter li:nth-child(1) {
  -webkit-animation: slide-in-right 0.2s ease both;
  animation: slide-in-right 0.2s ease both;
}

.Products .product-nav ul.filter li:nth-child(2) {
  -webkit-animation: slide-in-right 0.3s ease both;
  animation: slide-in-right 0.3s ease both;
}

.Products .product-nav ul.filter li:nth-child(3) {
  -webkit-animation: slide-in-right 0.55s ease both;
  animation: slide-in-right 0.55s ease both;
}

.Products .product-nav ul.filter li:nth-child(4) {
  -webkit-animation: slide-in-right 0.9s ease both;
  animation: slide-in-right 0.9s ease both;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.Products .product-nav ul li {
  position: relative;
}

.Products .product-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
}

.Products .product-nav ul li a > .text {
  padding: 3px 0 0 0;
  font-size: 11px;
  pointer-events: none;
}

.Products .product-nav.hide {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
}

.SpreadCircle {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.SpreadCircle .putLightly, .SpreadCircle .spread {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.SpreadCircle .putLightly {
  background: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.SpreadCircle .putLightly.on {
  border: none;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 2;
}

.SpreadCircle.mobile .putLightly.on {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.SpreadCircle .spread {
  background: inherit;
  pointer-events: none;
}

.SpreadCircle .spread.on {
  opacity: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.SvgButton {
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.SvgButton .shape {
  fill: transparent;
}

@media screen and (min-width: 500px) {
  .SvgButton .text {
    overflow: hidden;
  }
}

.SvgButton .shape, .SvgButton .text {
  -webkit-transition: 0.24s ease;
  transition: 0.24s ease;
}

.ToOnlineStore {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ToOnlineStore .text {
  padding: 2rem 0 3rem;
  text-align: center;
}
