{% extends 'default_frame.twig' %}

{% block main %}
    <div class="row">
        <div class="main_visual col-xs-12">
            <div class="shopping-guide-container">
                <h1>ショッピングガイド</h1>

                <ul class="menu">
                    <li><a href="#guide01">会員登録について</a></li>
                    <li><a href="#guide02">ポイントについて</a></li>
                    <li><a href="#guide03">ご注文方法について</a></li>
                    <li><a href="#guide04">お支払い方法について</a></li>
                    <li><a href="#guide05">送料について</a></li>
                    <li><a href="#guide06">配送について</a></li>
                    <li><a href="#guide07">ご注文内容変更・キャンセルについて</a></li>
                    <li><a href="#guide08">返品・交換について</a></li>
                    <li><a href="#guide09">ギフトラッピングについて</a></li>
                    <li><a href="#guide10">領収書発行について</a></li>
                </ul>

                <section id="guide01">
                    <h1>会員登録について</h1>
                    <p>無料の会員登録をしていただくことによって、お得なポイント制度や会員様特典のご案内、ご購入履歴の確認など様々なサービスがご利用いただけるようになります。</p>

                    <h2>＜新規会員登録方法＞</h2>
                    <h3>STEP 1</h3>
                    <p>
                        「新規会員登録」画面にて、お客様情報を入力してください。
                        情報入力がお済みになりましたら、ページ下部にある「利用規約」をご確認ください。
                        ご同意いただけましたら、「同意する」ボタンをクリックします。
                    </p>

                    <h3>STEP 2</h3>
                    <p>
                        「新規会員登録確認」ページにて、ご入力情報に誤りがないかを今一度ご確認ください。
                        修正する場合は、ページ下部にある「戻る」ボタンから編集画面にお戻りください。
                        内容が正しい場合は、「会員登録をする」ボタンをクリックします。
                    </p>

                    <h3>STEP 3</h3>
                    <p>
                        この時点ではまだ会員登録は完了しておりません。
                        ご登録メールアドレスに「会員登録のご確認」メールが送信されます。
                        そのメールに記載されているURLをクリックし本登録を完了してください。
                        本登録完了後に、「会員登録が完了しました」メールが送信されます。
                    </p>

                    <h2>＜メールマガジンについて＞</h2>
                    <p>
                        ご登録メールアドレスに、新商品情報やキャンペーンのご案内などを配信いたします。
                        メールマガジンのご登録・解除は、「マイページ」の「会員情報編集」より行ってください。
                    </p>

                    <h2>＜パスワードを忘れた場合＞</h2>
                    <p>
                        ログインページにある「ログイン情報をお忘れですか？」よりお手続きが可能です。
                        ご登録メールアドレスを入力し「次のページへ」ボタンをクリックしてください。
                        ご登録メールアドレスに、パスワード再設定URLを送りいたします。
                        メールに記載のURLにアクセスしていただき、変更後のパスワードをご入力ください。
                    </p>

                    <h2>＜退会方法＞</h2>
                    <p>
                        「マイページ」の「退会手続き」よりお手続きが可能です。
                    </p>
                </section>

                <section id="guide02">
                    <h1>ポイントについて</h1>
                    <p>
                        ガーメント公式オンラインストアでは、お得なポイント制度がご利用いただけます。
                        お買い上げ商品金額（税抜価格）の5％のポイントをプレゼントしております。
                        貯まったポイントは1ポイント1円分としてご注文の際にご利用いただけます。
                    </p>
                    <p class="attention">
                        ※商品ご購入時のポイントは、商品発送後に反映されます。<br/>
                        ※ポイントの有効期限はございません。
                    </p>
                </section>

                <section id="guide03">
                    <h1>ご注文方法について</h1>
                    <p>
                        会員・非会員に問わず、どなたでもご購入が可能です。
                    </p>
                    <p>
                        商品詳細ページにて購入数量をご入力いただき、「カートに入れる」ボタンをクリックします。
                        続けて商品を探したい方は「お買い物を続ける」ボタンを、ご購入のお手続きに進みたい方は「レジに進む」ボタンをクリックしてください。
                    </p>
                    <p>
                        初めてご利用のお客様は、「新規会員登録」もしくは「ゲスト購入」のどちらかをお選びいただき、お客様情報をご入力ください。
                        会員登録がお済みのお客様はログインが必要です。
                    </p>
                    <p>
                        お届け先・配送日時の希望・お支払い方法についてご指定ください。
                        ご注文内容をご確認いただき、内容に間違いがなければ「注文する」をクリックします。
                        ご注文手続き完了後、ご登録メールアドレスに「ご注文確認メール」が自動送信されます。
                    </p>
                    <p class="attention">
                        ※「ご注文確認メール」が届かない場合には、「お問い合わせ」ページよりお問い合わせください。
                    </p>
                </section>

                <section id="guide04">
                    <h1>お支払方法について</h1>
                    お支払方法はクレジット決済、代金引換のいずれかをお選びいただけます。

                    ＜クレジット決済＞
                    現在準備中です。

                    ＜代金引換＞
                    商品のお受け取り時に、商品代金、送料、手数料の合計額（税込）を現金でドライバーにお支払ください。
                    代引手数料324円（税込）がかかります。

                    ＜銀行振込＞
                    下記口座にご注文いただいたお客様の名義で振込をお願いいたします。
                    ご注文日から14日以内にお支払いください。ご入金確認後、商品を発送いたします。

                    ※振込手数料はお客様ご負担となります。
                    ※期限内にご入金を確認できなかった場合は、自動的にキャンセル扱いとなります。

                    　　銀行名　　三井住友銀行（金融機関コード：0009）
                    　　支店名　　センター南支店（支店コード：952）
                    　　口座番号　普通預金 241750
                    　　口座名義　ユウゲンガイシャメイリリィ（有限会社メイリリィ）
                </section>

                <section id="guide05">
                    <h1>送料について</h1>
                    <p>
                        送料は全国一律864円（税込）です。
                        10,800円（税込）以上のお買い上げで送料を無料とさせていただきます。
                    </p>
                </section>

                <section id="guide06">
                    <h1>配送について</h1>
                    商品の発送は日本国内のみに限らせていただきます。

                    ＜ご注文からお届けまでにかかる日数の目安＞
                    通常はご注文・ご入金を確認後、2〜5営業日でお届けいたします。
                    配送日時のご希望がございましたら、「ご注文内容のご確認」ページでご指定ください。
                    配送日につきましては、ご注文日から7日以上余裕を持ってご指定ください。
                    品切れ・繁忙期中等で商品の到着が遅れる場合には、必ずご連絡を差し上げます。

                    ※配送希望日を「指定なし」で選択いただきますと、最短日でお届けいたします。

                    ＜時間帯指定について＞
                    お届けご希望のお時間帯をご指定いただけます。なお、ご選択可能な時間帯は下記の通りとなります。
                    1）午前中
                    2）14時〜16時
                    3）16時〜18時
                    4）18時〜20時
                    5）19時〜21時
                    ※繁忙期や天候、交通状況により遅れる場合がございます。予めご了承下さい。

                    ＜配送会社＞
                    ヤマト運輸にてお届けに伺います。

                    ＜保管期限について＞
                    配達時にご不在の場合は、配送会社より「ご不在票」をお届けいたしますので、再配達をご依頼ください。
                    配送会社による保管期間が過ぎた場合は弊社倉庫に返送され、自動的にキャンセルとなります。

                </section>

                <section id="guide07">
                    <h1>ご注文内容変更・キャンセルについて</h1>
                    お客様のご都合によるご注文後のキャンセル、ご注文内容の変更はお受けしておりません。
                    追加をご希望の場合は、ご注文内容を十分にご確認のうえ、新たにご注文のお手続きを行ってください。
                </section>

                <section id="guide08">
                    <h1>返品・交換について</h1>
                    お届けした商品に万一不備（不良・破損・誤配送等）があった場合には、商品到着後7日以内にご連絡ください。
                    返品送料を当方が負担し、迅速に返品交換対応をさせていただきます。
                    ご連絡は下記項目を記載のうえ、「お問い合わせ」ページよりお願いいたします。
                    1）ご注文番号（受注番号）
                    2）ご注文者様のお名前
                    3）該当商品
                    4）商品状態・返品理由

                    ※お客様のご都合による返品はお受けしておりません。予めご了承ください。
                </section>

                <section id="guide09">
                    <h1>ギフトラッピングについて</h1>
                    現在、ガーメント公式オンラインストアではギフトラッピングには対応しておりません。
                </section>

                <section id="guide10">
                    <h1>領収書発行について</h1>
                    現在、ガーメント公式オンラインストアでは領収書の発行はいたしておりません。
                    領収書の発行につきましては、お支払い方法が代金引換の場合は配送会社様へ、クレジットカードの場合は、ご契約先のクレジットカード会社様へご相談ください。
                </section>

            </div><!-- shopping-guide-container -->
        </div>
    </div>
{% endblock %}
