.EdgeLine
    box-sizing: content-box
    display: block
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none

    g
        display: block
        position: absolute
        .dash
            // stroke-dasharray: 4.3 4.2 4.3 4 4.4 4.4 4 4.2 4.2 4 4.3 4.2 4.5 4.3 4 4.3 4.5
            stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4
        &.top
            top: 0
            left: 0
            .line
                stroke: #46e
            .dash
                stroke: #bbf
        &.left
            top: 0
            left: 0
            .line
                stroke: #fb3
            .dash
                stroke: #fdc
        &.right
            top: 0
            right: 0
            .line
                stroke: #fff
            .dash
                stroke: #ccc
        &.bottom
            left: 0
            bottom: 0
            .line
                stroke: #c3b
            .dash
                stroke: #fbc
