.EdgeLine
    display: block
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    z-index: 1000

    &.color-0
        .line
            stroke: #d152c3
        .dash
            stroke: #fbc
    &.color-1
        .line
            stroke: #5a84d6
        .dash
            stroke: #a5c5f6
    &.color-2
        .line
            stroke: #fb3
        .dash
            stroke: #fdc
    // &.color-3
        .line
            stroke: #fff
        .dash
            stroke: #bbb

    g
        line
            transition: stroke 1s ease
        .dash
            stroke-dasharray: 4.3 3.4 4.4 3.3 4.2 3.4 4.1 3.2 4.2 3.4 4.3 3.2 4.4 3.3 4.1 3.3 4.4
        // &.top
        //     top: 0
        //     left: 0
        //     .line
        //         stroke: #d152c3
        //     .dash
        //         stroke: #fbc
        // &.left
        //     top: 0
        //     left: 0
        //     .line
        //         stroke: #5a84d6
        //     .dash
        //         stroke: #a5c5f6
        // &.right
        //     top: 0
        //     right: 0
        //     .line
        //         stroke: #fb3
        //     .dash
        //         stroke: #fdc
        // &.bottom
        //     left: 0
        //     bottom: 0
        //     .line
        //         stroke: #fff
        //     .dash
        //         stroke: #bbb
        &.top
            top: 0
            left: 0
        &.left
            top: 0
            left: 0
        &.right
            top: 0
            right: 0
        &.bottom
            left: 0
            bottom: 0
