.Footer
    display: flex
    flex-flow: column wrap
    justify-content: center
    background: #444
    color: #888
    font-size: 11px
    text-decoration: none
    text-align: center
    position: relative
    padding: 60px 0 100px
    box-shadow: 1px 0 4px 0px #333 inset
    .links
        display: flex
        flex-flow: row wrap
        justify-content: center
        align-items: center
        svg
            overflow: visible
    .copyright
        position: absolute
        left: 0
        right: 0
        bottom: 1.2em
