.GarmentNav
    position: fixed
    top: 15px
    left: 0
    width: 100%
    background: transparent
    transition: 0.3s ease
    z-index: 999
    &.disable
        pointer-events: none
    &.hidden
        transition: 0.6s ease
        top: 0
        opacity: 0

    ul
        display: flex
        flex-flow: row wrap
        justify-content: center
        li
            flex: 1 1 auto
    @media screen and (min-width: 375px)
        ul
            padding: 0 15px
    @media screen and (min-width: 640px)
        top: 10px
        ul
            padding: 0
            li
                flex: 0 1 auto
