.Garment
    .RouteTransitionContainer
        position: absolute
        width: 100%
        // min-height: 100vh

    .footer
        display: flex
        flex-flow: column wrap
        justify-content: center
        background: #444
        color: #888
        font-size: 11px
        text-decoration: none
        text-align: center
        position: relative
        height: calc(400px - 10vw)
        min-height: 300px
        box-shadow: 1px 0 4px 0px #333 inset
        .copyright
            position: absolute
            left: 0
            right: 0
            bottom: 1.2em
