.Garment
    // .RouteTransitionContainer
        position: absolute
        width: 100%
        overflow-x: hidden
    position: relative
    .page-route-container
        @media screen and (min-width: 1024px)
            position: absolute
            top: 0
            right: 0
            box-sizing: border-box
            width: calc(100% - var(--garment-nav-width))

    .page-title
        padding: 1.75em 1.18em 1.5em
        font-size: 26px
        font-weight: normal
        letter-spacing: 0.5px
        border-bottom: 1px solid #e6e6e6
        color: #222
        text-align: left
        @media screen and (min-width: 770px)
            font-size: 32px
        @media screen and (min-width: 1024px)
            font-size: 40px

    .nav-btn
        position: fixed
        top: 0
        right: 0
        display: block
        width: 1em
        height: 1em
        padding: 1.3em 1.1em
        text-align: center
        font-size: 30px
        cursor: pointer
        z-index: 1000
        transition: 0.5s
        color: #222
        &.hide
            transform: translateY(-16px)
            opacity: 0
            pointer-events: none
