.News
    line-height: 1
    // background: pink
    text-align: center
    h1
        span.icon
            position: relative
            top: -2px
            left: 0

    section
        padding: 1rem 0.3rem 2rem
        border: 1px dashed
        margin: 2rem 1rem
        .calendar
            padding: 0.6em 0
            font-size: 1.1rem
            opacity: 0.6
        .text
            font-size: 0.85rem
            line-height: 1.4
