.SvgButton
    display: block
    margin: 0 auto
    text-align: center
    cursor: pointer

    .shape
        fill: transparent
    .text
        letter-spacing: 3px

    .shape, .text
        transition: 0.3s ease
