<div class="col-xs-12">
    <div class="header_logo_area">
        <a href="{{ url('homepage') }}">
            <p class="copy">ガーメントオンラインストア</p>
            <h1 class="header_logo">{{ BaseInfo.shop_name }}<span class="underline"></span></h1>
        </a>
    </div>
</div>
