<div id="contents_top" class="row">
    <div class="category_header col-xs-12">
        <h2 class="heading01">PICK UP</h2>
    </div>
    <div id="item_list col-xs-12">

        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="http://takeruyamashita.com/ec/html/products/detail/12">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img/01.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->

        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="/ec/html/products/detail/7">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img/02.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->

        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="/ec/html/products/detail/11">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img/03.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->

    </div><!--/item_list-->
</div><!--contents_top-->
